{% extends "shop/base.html" %}
{% load url from future %}
{% block page_title %}{{object.get_name}}{% endblock %}
{% block body %}
  <style type="text/css">
    .add_border{
      border:1px solid #ccc;
      border-radius:6px; 
      padding: 10px;
    }
  </style>
    <h1>&nbsp;</h1>
    <h1>&nbsp;</h1>
  <div class="container marketing add_border">
    <div class="row featurette">
        <div class="col-md-3">
          <img class="featurette-image img-responsive add_border" data-src="holder.js/500x500/auto" src="/{{ object.cover_picture }}" data-holder-rendered="true">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{object.get_name}} <span class="text-muted">R${{object.unit_price}}</span></h2>
          <p class="lead">{{object.description}}</p>
          <p class="lead">Adicionado em {{object.date_added}}</p>
        </div>
      </div>
    <form method="post" style="text-align:right" action="{% url 'cart' %}">{% csrf_token %}
      <input type="hidden" name="add_item_id" value="{{object.pk}}">
      <input type="hidden" name="add_item_quantity" value="1">
      <input type="submit" class="btn btn-success" value="Adicionar ao carrinho">
    </form>
  </div>
{% endblock %}

